<p>
  checkbox works!
</p>
<div class="container"> 
  <h6>Provides details below</h6>
<div class="row m-1">
  <div class="col">
    <input type="checkbox" [(ngModel)]="working"/>
      <label> Working</label>
    </div>
  </div>
<div class="row m-1">
  <div class="col">
    <input type="checkbox"  [(ngModel)]="studying">
    <label>Studying</label>
  </div>
</div>
<div *ngIf="working">
<h6>Provides job details</h6>
<label>Company Name</label>
<input type="text" class="form-control"[(ngModel)]="company">
<label>Designation</label>
<input type="text" class="form-control"[(ngModel)]="designation">
</div>
<div *ngIf="studying">
<h6>Provides Course Details</h6>
<label>College Name</label>
<input type="text" class="form-control"[(ngModel)]="college">
<label>Course</label>
<input type="text" class="form-control"[(ngModel)]="course">
</div>

</div>

  


